# 项目根目录的 .clangd
CompileFlags:
  Add: 
    - "-I/home/capp-adocia/coding/TuixOS"
    - "-I/home/capp-adocia/coding/TuixOS/include"
    - "-std=gnu11"
    - "-nostdlib"
    - "-ffreestanding"
    - "-xc"
    - "-m32"
    - "-fno-pie"
    
Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Skip
